#content > div{
	display: flex;
	flex-direction: column;
	background-color: #F4F4F4;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

form > p{	
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}

form *{
	line-height: 1.5rem;
}

form > p > label{
	flex: 0 0 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E0E0E0;
}

form > p > input{
	flex : 1 0 200px;
}

form > p > input[type = "submit"]{
	margin-left: 160px;
}


