
body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	border: 5px solid red;
	justify-content: center;
	
}

p{	
	border : 5px solid yellow;
	text-align: center;
}

form{
	border : 5px solid black;
	justify-items: center;
}

label{
	display: inline-block;
	width: 200px;
	border: 5px solid pink;
}