
p{	display: flex;
	padding: 0;
	align-items: center;
	justify-items: center;
}

form{
	justify-items: center;
	padding: 0;
}

label{
	display: inline-block;
	width: 200px;
}

label, input{
	height: 1.5rem;
	padding: 0;
	margin : 0;
}