.content-fragment{
	padding: 30px 80px;
}


.title{
	font-size: 20px;
	font-weight: bold;
	margin: 30px 0;
}

.list-title{
	font-size: 15px;
	font-weight: bold;
	margin: 20px 20px;
}

.item-list{
	list-style: none;
	margin-left: 40px;
}

.item{
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}