*{
	/*border: 1px black solid;*/
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	min-height: 100vh;
	min-width: 100vw;
	/*background-color: #F9F9F9;*/
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	gap : 30px;
}

header{
	display: flex;
	justify-content: start;
	font-size: 15px;
	padding: 5px 0;
	background-color: #F4F4F4;
}

header > a{
	margin-left: 30px;
}

header > a, aside a{
	display: flex;
	align-items: center;
	color: #333333;
	text-decoration: none;
}

header > a:visited, aside a:visited{
	color: #333333;
}

aside li{
	margin-top: 15px;
	font-size: 18px;
	font-weight: bold;
}

aside li:first-child{
	margin-top: 30px;
}

main{
	flex : 1  1  0;
	display: flex;
	margin: 0 30px;
	background-color: #F9F9F9;
}

aside{
	flex: 0 0 200px;
	background-color: #E0E0E0;
	display: flex;
	flex-direction: column;
	align-items: center;
}


ul{
	list-style: none;
}


#content{
	flex: 1 1 0;
	display: flex;
	justify-content: center;
	align-items: center;
}









