<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
	</head>
	<body>
		<header th:fragment="header" >
			<ul sec:authorize="isAnonymous()" class="guide-link-list header-link-list">
				<li><a th:href = @{/}  th:text ="'시작 화면'"></a></li>
				<li><a th:href = @{/login}  th:text ="'로그인'"></a></li>
				<li><a th:href = @{/user/create} th:text="'계정 생성'" /></li>
			</ul>
			
			
			
			<ul sec:authorize="isAuthenticated()" class="guide-link-list  header-link-list">
				<li><a th:href = @{/}  th:text ="'시작 화면'"></a></li>
				<li>
					<form th:action="@{/logout}" method="post">
					<button type="submit" th:text ="'로그아웃'"> 
					</form>
				</li>
			</ul>
			
			
			
			<ul th:if="${currentURI != null and currentURI.matches('^(/library|/book/|/book-shelf|/reading-record).*' )}"
			 class="guide-link-list  header-link-list right-link-list">	
			 	<li><a th:href = @{/search-book} th:text="'책 검색'" /></li>
				<li><a th:href = @{/book-shelf/create} th:text="'새로운 책장 등록'" /></li>
				<li><a th:href = @{/book/create} th:text="'새로운 책 등록'" /></li>
				<li><a th:href = @{/reading-record/create} th:text="'독서 기록 등록'" /></li>
			</ul>
			
			
			<ul th:if="${currentURI != null and currentURI.matches('^(/board|/post).*' )}"
			 class="guide-link-list  header-link-list right-link-list">	
			 
			 	<li th:if= "${currentURI.matches('(/post|/post/create)')}">
			 					<a th:href = @{|/board?boardId=${boardId}|} th:text="'게시판 돌아가기'" /></li>
			 
			 	<li th:if= "${!currentURI.matches('/board/board-list|/post/create')}">
					<a th:href = @{|/post/create?boardId=${boardId}|} th:text="'글 등록'" /></li>
					
				<li th:if= "${!currentURI.matches('/board/board-list')}">
					<a th:href = @{|/board/board-list|} th:text="'게시판 목록'" /></li>
				
			</ul>
			
			
		</header>
	</body>
	
</html>