<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<link rel="stylesheet" th:href = @{/header.css}/>
	</head>
	<body>
		<header th:fragment="header" >
			<ul sec:authorize="isAnonymous()" class="guide-link-list header-link-list">
				<li><a th:href = @{/}  th:text ="'시작 화면'"></a></li>
				<li><a th:href = @{/login}  th:text ="'로그인'"></a></li>
				<li><a th:href = @{/user/create} th:text="'계정 생성'" /></li>
			</ul>
			
			<ul sec:authorize="isAuthenticated()" class="guide-link-list header-link-list">
					<li><a th:href = @{/}  th:text ="'시작 화면'"></a></li>
					<li><a th:href = @{/logout}  th:text ="'로그아웃'"></a></li>
			</ul>
		</header>
	</body>
	
</html>