#search-btn{
	width: 80px;
}

.content-fragment{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.book-container{
	width: 300px;
	height: 350px;
}

p{
	margin-top : auto;
	overflow: clip;
}

#bookshelf-select-container{
	width: 400px;
	height: 300px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
	z-index: 1000;
}
#black-box{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background-color: black;
	opacity: 0.5;
	display: none;
}