.content-fragment{
	padding: 0px 80px 30px 80px;
}


.title{
	font-size: 20px;
	font-weight: bold;
	margin: 30px 0;
}


.book-list{
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-left: 30px;
}

a{
	color: inherit;
	text-decoration: none;
}

.ud-link{
	display: flex;
	justify-content: right;
	gap: 10px;
}

.book-shelf-delete-btn{
	background-color: inherit;
}




