<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{/layout/form-alone-layout}">
	<head>
		<title>사용자 계정 생성</title>
	</head>
	<body>
		<div layout:fragment="Content" class="content-fragment">
		<p>책장 등록!!</p>
		<form th:action="@{/book-shelf/create}" method="post" th:object = ${bookShelfDTO}>
			<p>
			<label for="name" th:text = "'name'"></label>
			<input type="text" th:field="*{name}"> 
			</p>
			<p>
			<input type="submit"> 
			</p>
		</form>
		</div>
	</body>
</html>