<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{/layout/form-layout}">
		
	<head>
		<link rel="stylesheet" th:href = @{/creation-form.css}/>
		<title>사용자 계정 생성</title>
	</head>
	<body>
		<main>
		<div layout:fragment="Content" class="content-fragment">
		<p>사용자 계정 생성!!</p>
		<form th:action="@{/user/create}" method="post" th:object = "${createUserFormDTO}">
			<p>
			<label for="username" th:text = "'id'">id</label>
			<input type="text" th:field="*{username}"> 
			</p>
			<p>
			<label for="password">password </label>
			<input type="password" th:field="*{password}"> 
			</p>
			<p>
			<label for="nickName">nickName </label>
			<input type="text" th:field="*{nickName}"> 
			</p>
			<p>
			<input type="submit"> 
			</p>
		</form>
		</div>
		</main>
	</body>
</html>