<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{/layout/layout}">
		
	<head>
		<link rel="stylesheet" th:href = @{/css/board.css}/>
		<title>게시판</title>
	</head>
	<body>
		<div layout:fragment="Content" class="content-fragment">
			
		<p class="board-title" th:text = "|${board.name}|">게시판 이름</p>
		

		<ul class="post-list">
				<li class="post-list-head">
					<p class="post-title" th:text = "'제목'"></p>
					<p class="post-writer" th:text = "'작성자'"></p>
					<p class="post-create-time" th:text = "'작성 날짜'"></p>
				</li>
				
				<p th:text = "|총 개수 ${postPage.totalElements}|"></p>
				<p th:text = "|총 page ${postPage.totalPages}|"></p>
				<p th:text = "|page 개수 ${postPage.numberOfElements}|"></p>
							
				<li class="post-list-item" th:each = "post : ${postPage}" >
						<p class="post-title">
						<a class="item-link" th:href="@{|/post?postId=${post.id}|}" th:text = "|${post.title}|"></a>
						</p>
						
						<p th:if="${post.username != null}" class="post-writer" th:text = "|🙍‍♂️  ${post.username}|"></p>
						<p th:if="${post.username == null}" class="post-writer" th:text = "|${post.anonymousUsername}|"></p>

						<p class="post-create-time" th:text = "|${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}|"></p>
						
				</li>
			</ul>
			
			<ul class="page-link-list"  th:if="${postPage.totalPages != 0}"
			th:with="start = ${(postPage.number/5)*5 + 1 }, end = ${(start + 4 < postPage.totalPages?start + 4:postPage.totalPages)}">
			
				<li th:if = "${start != 1}">
					<a th:href = @{|/board?boardId=${boardId}&pageNum=${start-1}|} th:text="'<'" />
				</li>
							
				<li th:each = "pageNum : ${#numbers.sequence(start, end)}">
					<a th:href = @{|/board?boardId=${boardId}&pageNum=${pageNum}|} th:text="${pageNum}" />
				</li>
				
				<li th:if = "${end != postPage.totalPages}">
					<a th:href = @{|/board?boardId=${boardId}&pageNum=${end+1}|} th:text="'>'" />
				</li>
			</ul>
		
		
		</div>
	</body>
	
</html>