<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{/layout/board-layout}">
		
	<head>
		<link rel="stylesheet" th:href = @{/item-list.css}/>
		<title>게시판</title>
	</head>
	<body>
		<div layout:fragment="Content" class="content-fragment">
		<p class="title">게시판</p>
		<ul>
			<li class="item" th:each = "post : ${posts}" >
				<a class="item-link" th:href="@{|/post?postId=${post.id}|}" th:text = "|제목 : ${post.title}|"></a>
			</li>
		</ul>
		</div>
	</body>
	
</html>