<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{/layout/library-layout}">
	<head>
		<link rel="stylesheet" th:href = @{/item-list.css}/>
		<title>대문</title>
	</head>
	<body>
	<div layout:fragment="Content" class="content-fragment">
		<p class="title" >책</p>
		<img th:if="${coverImg}" th:src="|data:jpg;base64,${coverImg}|" width="200px" height="400px" />
		<p th:text = "|📖 ${book.bookInfo.title}|"></p>
		<p th:text = "|ISBN ${book.bookInfo.ISBN}|"></p>
		
	</div>
	</body>
	
</html>