<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{/layout/layout}">
	<head>
		<script th:src="@{/js/book.js}" defer></script>
		<meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
		<link rel="stylesheet" th:href = @{/css/book.css}/>
		<title>책 상세 페이지</title>
		
	</head>
	<body>
	<div layout:fragment="Content" class="content-fragment">
		<p class="link-container">
			<a class="reading-record-link" th:text = "'독서 기록 보기'" th:href="@{|/reading-record?bookId=${book.id}|}"></a>
			<a th:href="@{|/book/modify?bookId=${book.id}|}" th:text = "|수정하기|"></a>
			<button class="book-delete-btn" th:data-id ="${book.id}" th:text="삭제" ></button>
		</p>
		
		<img th:if="${coverImg}" th:src="|data:image/jpg;base64,${coverImg}|" width="250px" height="auto" />
		<p th:text = "|📖 ${book.bookInfo.title}|"></p>
		<p th:text = "|ISBN ${book.bookInfo.ISBN}|"></p>
		
	</div>
	</body>
	
</html>