<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{/layout/layout}">
	<head>
		<link rel="stylesheet" th:href = @{/css/book-club.css}/>
		<title>대문</title>
	</head>
	<body>
	<div layout:fragment="Content" class="content-fragment">
		<p th:text = "| ${bookClub.name}|"></p>
		<img th:if="${coverImg != null}" th:src="|data:jpg;base64,${coverImg}|" width="250px" height="auto" />
		<p th:text = "|📖 ${bookClub.bookInfo.title}|"></p>
		<p th:text = "|ISBN ${bookClub.bookInfo.ISBN}|"></p>
		
		
		<form class="comment-form"
		th:action="@{|/book-club/register?bookClubId=${bookClub.id}|}" method="post" th:object = ${newComment}>
			
			<p>
			<label for="content" th:text = "'댓글 작성하기'"></label>
			<br/>
			<textarea th:field="*{content}" rows="8" cols="40"/> 
			</p>
			
			<p>
			<input type="submit"> 
			</p>
		</form>	
		
	</div>
	</body>
	
</html>