<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{/layout/layout}">
	<head>
		<link rel="stylesheet" th:href = @{/item-list.css}/>
		<style>
			.content-fragment{
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 0;
				gap: 20px;
			}
			a{
				color: inherit;
				text-decoration: none;
			}
		</style>
		<title>대문</title>
	</head>
	<body>
	<div layout:fragment="Content" class="content-fragment">
		<img th:if="${coverImg}" th:src="|data:jpg;base64,${coverImg}|" width="250px" height="auto" />
		<p th:text = "|📖 ${book.bookInfo.title}|"></p>
		<p th:text = "|ISBN ${book.bookInfo.ISBN}|"></p>
		<a th:text = "'독서 기록 보기'" th:href="@{|/reading-record?bookId=${book.id}|}"></a>
		
	</div>
	</body>
	
</html>