<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{/layout/layout}">
	<head>
		<link rel="stylesheet" th:href = @{/item-list.css}/>
		<title>대문</title>
	</head>
	<body>
	<div layout:fragment="Content" class="content-fragment">
		<p class="title">나의 도서관</p>
		<div class="item-list-container" th:each = "bookShelf : ${bookShelfDTOs}">
				
			<p class="list-title">
				<a class="item-link" th:href="@{|/book-shelf?bookShelfId=${bookShelf.id}|}" th:text = "|📚 책장 ${bookShelf.name}|"></a>
			</p>
					
			<ul class="item-list">
				<li class="item" th:each = "book : ${bookShelf.books}">
					<a class="item-link" th:href="@{|/book?bookId=${book.id}|}" th:text = "|📖 ${book.bookInfo.title}|"></a>
				</li>
			</ul>
		</div>
	</div>
	</body>
	
</html>