<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{/layout/layout}">
	<head>
		<script th:src="@{/js/post.js}" defer></script>
		<script th:src="@{/js/comment.js}" defer></script>
		<meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
		<link rel="stylesheet" th:href = @{/css/post.css}/>
		<title>대문</title>
	</head>
	<body>
		
	<div layout:fragment="Content" class="content-fragment" >
		<p class="ud-link">
			<a class="post-modify" th:href="@{|/post/modify?postId=${post.id}|}" th:text = "|수정하기|"></a>
		
			<button class="post-delete" th:data-id ="${post.id}" th:data-author-type = "${(post.username != null)?'user':'anonymous'}"
			th:data-board-id = "${boardId}" th:text="삭제" ></button>
		</p>
		
		<div class="post-head">
			
		<p class="post-title" th:text = "|${post.title}|"></p>	
		
		
		<p class="post-audit">
		<span th:if="${post.username != null}" th:text = "|작성자 : ${post.username}|"></span>
		<span th:if="${post.username == null}" th:text = "|작성자 : ${post.anonymousUsername}|"></span>

		<span th:text = "|작성 시각 : ${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}|"></span>
		</p>	
		
		</div>
		
		
		<div class="post-main">
			
		<p  class="post-content" th:text = "|${post.content}|"></p>
		
		</div>
		
			
		<div class="comment-container">
		
		<p class="comment-head" th:text="|댓글|"></p>
		
		<ul class="comment-list">
			<li th:each = "comment : ${comments}">
				
				
				<p class="ud-link">
					<button class="comment-modify" th:data-id ="${comment.id}" 
					th:data-author-type = "${(comment.user != null)?'user':'anonymous'}"
					 th:text = "|댓글 수정하기|"></button>

					<button class="comment-delete" 
					
					th:data-author-type = "${(comment.user != null)?'user':'anonymous'}"
					
					th:data-id ="${comment.id}" th:text="'댓글 삭제'" ></button>
				</p>
				
				<p th:text="|${comment.content}|" > </p>
				
				<p class="comment-audit"> 
					
					<span th:if="${comment.user != null}" th:text = "|작성자 : ${comment.user.username}|"></span>
					<span th:if="${comment.user == null}" th:text = "|작성자 : ${comment.anonymousUsername}|"></span>
					<span th:text = "|작성 시각 : ${#temporals.format(comment.cratedAt, 'yyyy-MM-dd HH:mm')}|"></span>
				</p>
				
			</li> 
		</ul>
		
		</div>
			
		
			
		<form class="comment-form" th:data-post-id="${post.id}" id="comment-form"
		th:action="@{|/post/comment/create?postId=${post.id}|}" method="post" th:object = ${newComment}>
		
			<p sec:authorize="isAnonymous()">
				<label for="annonymousUsername" th:text = "'id'"></label>
				<input type="text" th:field="*{anonymousUsername}"> 
			</p>
				
			<p sec:authorize="isAnonymous()">
				<label for="annonymousUserPwd" th:text = "'비밀 번호'"></label>
				<input type="password" th:field="*{anonymousUserPwd}"> 
			</p>
			
			<p>
			<label for="content" th:text = "'댓글 작성하기'"></label>
			<br/>
			<textarea th:field="*{content}" rows="8" cols="40"/> 
			</p>
			
			<p>
			<input type="submit"> 
			</p>
		</form>	

	</div>
	</body>
	
</html>