<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{/layout/layout}">
	<head>
		<script th:src="@{/js/reading-record-list.js}" defer></script>

		<meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
		
		<link rel="stylesheet" th:href = @{/css/reading-record-list.css}/>
		
		<title>대문</title>
	</head>
	
	<body>
	<div layout:fragment="Content" class="content-fragment" >
		<p class="title" >나의 독서 기록</p>		
		
		<ul class="item-list">
			<p th:text = "|총 개수 ${readingRecordPage.totalElements}|"></p>

			<li class="item" th:each = "readingRecord : ${readingRecordPage}">
				<p class="link-container">
					<a class="reading-record-modify" th:href = "@{/reading-record/modify(readingRecordId=${readingRecord.id})}" th:text = "수정"></a>
					<button class="reading-record-delete-btn" th:data-id ="${readingRecord.id}" th:text="삭제"></button>
				</p>
				
				<p th:text = "|📝 ${readingRecord.content}|"></p>
				<p class="audit">
					<span th:text = "|책 : ${readingRecord.bookTitle}|"></span>
					<span th:text = "|작성 시각 : ${#temporals.format(readingRecord.createdAt, 'yyyy-MM-dd HH:mm')}|"></span>
				</p>
			</li>
		</ul>
			
	</div>
	</body>
	
</html>