<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{/layout/layout}">
	<head>
		<meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
		<link rel="stylesheet" th:href = @{/css/reading-record-list.css}/>
		<title>대문</title>
		<script>
			async function deleteReadingRecord(id){
				if(!confirm("정말 삭제하시겠습니까?")) return;
				
				const token = document.querySelector("meta[name='_csrf']").content;
				const header = document.querySelector("meta[name='_csrf_header']").content;
				
				const option = {
					
					method : 'DELETE',
					
					headers: {
					        [header]: token
					    }
				}
				
				await fetch('/reading-record/delete?readingRecordId=' + id, option)
						.then(res=>{if(res.ok){
										alert("삭제 성공");
										location.reload();
									}else{
										alert("삭제 실패");
									}
								})
						.catch(err=>console.error(err));
						
						
				
			}
		</script>
	</head>
	
	<body>
	<div layout:fragment="Content" class="content-fragment" >
		<p class="title" >나의 독서 기록</p>		
		
		<ul class="item-list">
			<p th:text = "|총 개수 ${readingRecordPage.totalElements}|"></p>
			<!--
			<p th:text = "|총 page ${readingRecordPage.totalPages}|"></p>
			<p th:text = "|page 개수 ${readingRecordPage.numberOfElements}|"></p>
			-->
			<li class="item" th:each = "readingRecord : ${readingRecordPage}">
				<p th:text = "|📝 ${readingRecord.content}|"></p>
				<p class="audit">
					<span th:text = "|책 : ${readingRecord.bookTitle}|"></span>
					<span th:text = "|작성 시각 : ${#temporals.format(readingRecord.createdAt, 'yyyy-MM-dd HH:mm')}|"></span>
				</p>
				
				<p>
					<a th:href = "@{/reading-record/modify(readingRecordId=${readingRecord.id})}"
					th:text = "수정"></a>
					<button th:text="삭제" th:onclick="|deleteReadingRecord(${readingRecord.id})|"></button>
				</p>
			</li>
		</ul>
			
	</div>
	</body>
	
</html>