<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{/layout/form-alone-layout}">
		
	<head>
		<script th:src="@{/js/book-search.js}" defer></script>
		<link rel="stylesheet" th:href = @{/css/book-search.css}/>
		<title>책 검색</title>
	</head>
	
	<body>
		<div layout:fragment="Content" class="content-fragment">
			<div class="search-container">
			<p>
				<label for="title" th:text = "'제목'"></label>
				<input type="text" name="title" id="title"> 
			</p>
			
			<p>
				<label for="author" th:text = "'저자'"></label>
				<input type="text" name="author" id="author"> 
			</p>
			
			<p>
				<label for="isbn" th:text = "'ISBN'"></label>
				<input type="text" name="isbn" id="isbn"> 
			</p>
			
			<button id="search-btn">검색</button>
			</div>
			
			<div class="black-box" id="black-box">aaa</div>
			
			<div id="bookshelf-select-container">
			    <label for="bookshelf-select">등록 할 책장 :</label>
			    <select id="bookshelf-select" name="bookshelf-select">
			      <option th:each = "b : ${bookShelves}" th:value="${b.id}" th:text="${b.name}">option</option>
			    </select>
				<button id="register-btn">등록하기</button>
				<button id="cancel-btn">취소하기</button>
			</div>			
		</div>
		
		
	</body>
</html>